<div [ngClass]="theme">
   <div class="nav-top">
      <mat-toolbar color="primary">
         <div class="container flex">
            <back-button></back-button>
            <span page-title></span>
            <span class="flex-spacer"></span>
            <button mat-list-item class="text-white">
               <mat-icon>search</mat-icon>
            </button>
         </div>
      </mat-toolbar>
   </div>
   <div class="main-outlet" [@pageAnimation]="mainOutlet.activatedRouteData['pLevel']">
      <progress-bar></progress-bar>
      <router-outlet #mainOutlet="outlet"></router-outlet>
   </div>
   <div class="nav-bottom">
      <mat-grid-list cols="4" rowHeight="50px" class="bg-primary">
         <mat-grid-tile>
            <button mat-list-item routerLink="/" routerLinkActive="active">
               <mat-icon>home</mat-icon>
            </button>
         </mat-grid-tile>
         <mat-grid-tile>
            <button mat-list-item routerLink="/categories" routerLinkActive="active">
               <mat-icon>category</mat-icon>
            </button>
         </mat-grid-tile>
         <mat-grid-tile>
            <button mat-list-item routerLink="/cart" routerLinkActive="active">
               <mat-icon>shopping_cart</mat-icon>
            </button>
         </mat-grid-tile>
         <mat-grid-tile>
            <button mat-list-item routerLink="/account" routerLinkActive="active">
               <mat-icon>account_circle</mat-icon>
            </button>
         </mat-grid-tile>
      </mat-grid-list>
   </div>
</div>