<mat-sidenav-container class="sidenav-container" [ngClass]="theme" (backdropClick)="drawer.close()">
   <mat-sidenav #drawer [position]="(isHandset$ | async) ? 'end' : 'start'" class="sidenav" fixedInViewport="false" fixedBottomGap="0"
      fixedTopGap="0" [disableClose]="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)" autoFocus="false">
      <div class="sidenav-bg-color"></div>
      <mat-toolbar color="primary">
         <img class="logo" src="/assets/img/angular-logo.png" />
         <div class="text-center">Shopping Cart</div>
      </mat-toolbar>
      <div class="container">
         <mat-nav-list>
            <ng-container *ngFor="let nav of navs">
               <a mat-list-item [routerLink]="nav.link" routerLinkActive="active" (click)="closeSideNav()">
                  <mat-icon>{{ nav.icon }}</mat-icon> {{ nav.label }}
               </a>
               <!-- <mat-divider></mat-divider> -->
            </ng-container>
         </mat-nav-list>
      </div>
   </mat-sidenav>
   <mat-sidenav-content>
      <mat-toolbar color="primary">
         <back-button></back-button>
         <page-title></page-title>
         <span class="flex-spacer"></span>
         <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
         </button>
      </mat-toolbar>
      <div class="main">
         <progress-bar></progress-bar>
         <router-outlet></router-outlet>
      </div>
   </mat-sidenav-content>
</mat-sidenav-container>