/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
    height: 100%;
}

body { margin: 0; }

.page {
    padding-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.text-center {
    text-align: center;
}

.flex-vert-center {
    display: flex;
    align-items: center;
}

.mat-form-field.display-block {
    width: 100%;
}

.mat-list-item .mat-icon {
    margin-right: 10px;
}

mat-card.mat-elevation-z0 {
  background: none !important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.btn-group button, .btn-group a {
    margin-right: 10px;
}