/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
    height: 100%;
}

body { margin: 0; }

.page {
    padding: 20px 0;
}

.page-title {
   line-height: 40px;
}

.text-white {
   color: white !important;
}

.center {
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.text-center {
    text-align: center;
}

.text-right {
   text-align: right;
}

.text-left {
   text-align: left;
}

.padding-top-20 {
   padding-top: 20px !important;
}

.flex-vert-center {
    display: flex;
    align-items: center;
}

.flex {
   display: flex !important;
}

.flex-spacer {
   flex: 1 1 auto;
}

.btn-group button, .btn-group a {
   margin-right: 10px;
}

.btn-block {
   display: block;
   width: 100%;
}

.sidenav .sidenav-bg-color {
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: black;
   background-image: url('/assets//img/sidebar-bg.jpg');
   opacity: 0.2;
   z-index: -1;
}

.container.flex {
   width: 100%;
   display: flex !important;
}

.img-thumbnail {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

.img-container {
   vertical-align: middle;
}

.br {
   padding: 15px 0;
}
/* MATERIALS */

.mat-table {
   width: 100%;
}
.mat-table .inactive td:not(.mat-column-action) {
   color: #999 !important;
}
.mat-menu-panel {
   min-width: 130px;
}
td.mat-cell:first-child {
   padding-left: 5px !important;
}

.mat-column-status {
   flex: 0 0 100px !important;
   width: 100px;
}

.mat-column-action {
   flex: 0 0 50px !important;
   width: 50px;
}

.mat-form-field {
    width: 100%;
}

.mat-form-field-label {
   font-size: 13px !important;
}

.mat-list-item .mat-icon {
    margin-right: 10px;
}

mat-card.mat-elevation-z0 {
  background: none !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
   padding: 0 5px !important;
}

.mat-toolbar {
   font-weight: 300 !important;
}

@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}