@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$app-primary:  mat-palette($mat-gray, 800);
$app-accent:   mat-palette($mat-pink);
$app-warn:     mat-palette($mat-red, 900);
$app-theme:    mat-light-theme($app-primary, $app-accent, $app-warn);
.default-theme {
   @include angular-material-theme($app-theme);
}

$admin-primary:   mat-palette($mat-blue-gray);
$admin-accent:    mat-palette($mat-light-blue, 900);
$admin-warn:      mat-palette($mat-red, 900);
$admin-theme:     mat-light-theme($admin-primary, $admin-accent, $admin-warn);
.admin-theme {
   @include angular-material-theme($admin-theme);
}

$form-primary: mat-palette($mat-gray, 800);
$form-accent:  mat-palette($mat-light-blue, 900);
$form-warn:    mat-palette($mat-red, 900);
$form-theme:   mat-light-theme($form-primary, $form-accent, $form-warn);
.form-theme {
   @include angular-material-theme($form-theme);
}

$blue-primary: mat-palette($mat-light-blue, 900);
$blue-accent:  mat-palette($mat-light-blue, 800);
$blue-warn:    mat-palette($mat-light-blue, 700);
$blue-theme:   mat-light-theme($blue-primary, $blue-accent, $blue-warn);
.blue {
   @include angular-material-theme($blue-theme);
}

.bg-primary {
    background-color : mat-color($app-primary);
}